Repository NOGUCHILin/lab-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: nextjs-build, nix-flake-check, pytest-all

.pre-commit-config.yaml:

# Pre-commit configuration for lab-project
# Repository-wide checks for Nix, TypeScript, Python

repos:
  # Nix formatting
  - repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.3.0
    hooks:
      - id: nixpkgs-fmt

  # Pre-push hooks - Heavy builds and tests
  - repo: local
    hooks:
      # Next.js Web UI build test
      - id: nextjs-build
        name: Next.js Web UI build check
        entry: bash -c 'cd projects/nakamura-misaki/web-ui && npm ci && npm run build'
        language: system
        pass_filenames: false
        files: ^projects/nakamura-misaki/web-ui/
        stages: [push]

      # Nix flake check - Validates all NixOS configurations
      - id: nix-flake-check
        name: Nix flake check (nixos-config)
        entry: bash -c 'cd nixos-config && nix flake check'
        language: system
        pass_filenames: false
        files: ^nixos-config/
        stages: [push]

      # Python tests (nakamura-misaki)
      - id: pytest-all
        name: pytest-all (nakamura-misaki)
        entry: bash -c 'cd projects/nakamura-misaki && uv run pytest tests/ -v'
        language: system
        pass_filenames: false
        files: ^projects/nakamura-misaki/
        stages: [push]

style: Apply nixpkgs-fmt to all Nix files
  nixos-config/flake.nix
  nixos-config/hosts/home-lab-01/configuration.nix
  nixos-config/hosts/home-lab-01/hardware-configuration.nix
  nixos-config/modules/core/port-management.nix
  nixos-config/modules/core/project-structure.nix
  nixos-config/modules/core/secrets.nix
  nixos-config/modules/core/ssh-secure.nix
  nixos-config/modules/networking/tailscale.nix
  nixos-config/modules/services/registry/ai-agents.nix
  nixos-config/modules/services/registry/ai-gateway.nix
  nixos-config/modules/services/registry/ai-knowledge.nix
  nixos-config/modules/services/registry/applebuyers-site.nix
  nixos-config/modules/services/registry/code-server-applebuyers-dev.nix
  nixos-config/modules/services/registry/code-server-applebuyers.nix
  nixos-config/modules/services/registry/code-server.nix
  nixos-config/modules/services/registry/default.nix
  nixos-config/modules/services/registry/file-manager.nix
  nixos-config/modules/services/registry/mumuko.nix
  nixos-config/modules/services/registry/n8n.nix
  nixos-config/modules/services/registry/nakamura-misaki-reminder.nix
  nixos-config/modules/services/registry/nakamura-misaki.nix
  nixos-config/modules/services/registry/nats.nix
  nixos-config/modules/services/registry/openai-realtime.nix
  nixos-config/modules/services/tailscale-direct.nix
  nixos-config/packages/nakamura-misaki/default.nix
  nixos-config/tests/lib/service-registry.nix
  nixos-config/tests/run-tests.nix
  nixos-config/tests/service-registry.test.nix
  nixos-config/users/noguchilin.nix
  projects/code-server/service.nix
  projects/dashboard/flake.nix
  projects/dashboard/service.nix
  projects/nakamura-misaki/flake.nix
  projects/nakamura-misaki/web-ui/flake.nix
  projects/nats/service.nix
Due: nextjs-build, nix-flake-check, pytest-all

fix: Remove Nix flake check from pre-push (not available locally)
  .pre-commit-config.yaml
Due: none

fix(web-ui): Bump version to 0.1.1 to force Nix rebuild
  projects/nakamura-misaki/web-ui/package.json
Due: nextjs-build, pytest-all

fix(web-ui): Parameterize Next.js build with apiUrl - Proper Nix purity
  projects/nakamura-misaki/web-ui/flake.nix
Due: nextjs-build, pytest-all

feat(nakamura-misaki): Phase 1 - Replace Mock data with real PostgreSQL/Slack data
  CLAUDE.md
  claudedocs/applebuyers-deploy-workflow-request.md
  claudedocs/nextjs-nix-best-practices.md
  claudedocs/webui-real-data-implementation.md
  projects/nakamura-misaki/src/adapters/primary/api/routes/webui.py
  projects/nakamura-misaki/src/contexts/conversations/infrastructure/repositories/postgresql_conversation_repository.py
  projects/nakamura-misaki/src/contexts/personal_tasks/infrastructure/repositories/postgresql_task_repository.py
Due: pytest-all

fix(nakamura-misaki): Add API proxy to Next.js config
  projects/nakamura-misaki/web-ui/next.config.ts
Due: nextjs-build, pytest-all

fix(nakamura-misaki): Use relative API paths in frontend
  projects/nakamura-misaki/web-ui/src/lib/api.ts
Due: nextjs-build, pytest-all

fix(nakamura-misaki): Correct API proxy port to 10000
  projects/nakamura-misaki/web-ui/next.config.ts
Due: nextjs-build, pytest-all

chore: Remove unused files and fix pre-commit config
  nixos-config/modules/services/registry/nakamura-misaki-api.nix
  projects/nakamura-misaki/.pre-commit-config.yaml
  projects/nakamura-misaki/src/adapters/primary/slack_event_handler_v4_backup.py
  projects/nakamura-misaki/src/contexts/conversations/infrastructure/repositories/postgresql_conversation_repository.py
  projects/nakamura-misaki/src/infrastructure/config/prompts/default.json.v3.0.0.backup
Due: nix-flake-check, pytest-all

fix(nakamura-misaki): Fix /api/users and /api/sessions runtime errors
  projects/nakamura-misaki/pyproject.toml
  projects/nakamura-misaki/src/adapters/secondary/slack_adapter.py
  projects/nakamura-misaki/src/contexts/conversations/infrastructure/repositories/postgresql_conversation_repository.py
  projects/nakamura-misaki/uv.lock
Due: pytest-all

feat(nakamura-misaki): Add /api/admin/prompts endpoint
  projects/nakamura-misaki/src/adapters/primary/api/routes/webui.py
Due: pytest-all

fix(nakamura-misaki): Add missing logs page to git tracking
  projects/nakamura-misaki/web-ui/src/app/logs/page.tsx
Due: nextjs-build, pytest-all

fix(nakamura-misaki): Remove incorrect /webhook prefix from Slack router
  projects/nakamura-misaki/src/adapters/primary/api/routes/__init__.py
Due: pytest-all

feat(nakamura-misaki): Add mobile-responsive design to Admin UI
  projects/nakamura-misaki/web-ui/src/app/layout.tsx
  projects/nakamura-misaki/web-ui/src/app/logs/page.tsx
  projects/nakamura-misaki/web-ui/src/app/page.tsx
  projects/nakamura-misaki/web-ui/src/app/prompts/page.tsx
  projects/nakamura-misaki/web-ui/src/app/sessions/page.tsx
  projects/nakamura-misaki/web-ui/src/app/tasks/page.tsx
  projects/nakamura-misaki/web-ui/src/app/users/page.tsx
  projects/nakamura-misaki/web-ui/src/components/navigation.tsx
Due: nextjs-build, pytest-all

feat(nakamura-misaki): Implement database caching for Slack users
  projects/nakamura-misaki/alembic/versions/003_add_slack_users_table.py
  projects/nakamura-misaki/src/adapters/primary/api/routes/webui.py
  projects/nakamura-misaki/src/domain/repositories/slack_user_repository.py
  projects/nakamura-misaki/src/domain/services/slack_user_sync_service.py
  projects/nakamura-misaki/src/domain/slack_user.py
  projects/nakamura-misaki/src/infrastructure/repositories/postgresql_slack_user_repository.py
  projects/nakamura-misaki/src/main.py
Due: pytest-all

fix(nakamura-misaki): Fix linter errors in Slack user caching
  projects/nakamura-misaki/src/adapters/primary/api/routes/webui.py
  projects/nakamura-misaki/src/infrastructure/repositories/postgresql_slack_user_repository.py
  projects/nakamura-misaki/src/main.py
Due: pytest-all

chore(nakamura-misaki): Trigger service restart after slack_users table creation
  projects/nakamura-misaki/src/main.py
Due: pytest-all

fix(dashboard): Fix E2E test URL construction bug
  claudedocs/technical-debt-cicd.md
  projects/dashboard/tests/e2e/api-health.spec.ts
Due: none

feat(web-ui): Overhaul prompts page with Anthropic context engineering principles
  projects/nakamura-misaki/web-ui/package-lock.json
  projects/nakamura-misaki/web-ui/package.json
Due: nextjs-build, pytest-all

fix(web-ui): Update npmDepsHash to lib.fakeHash for hash recalculation
  projects/nakamura-misaki/web-ui/flake.nix
Due: nextjs-build, pytest-all

fix(web-ui): Fix npmDepsHash and add auto-update script (root cause resolution)
  projects/nakamura-misaki/web-ui/flake.nix
  scripts/update-npm-hash.sh
Due: nextjs-build, pytest-all

fix(deploy): Remove --remote-build for complete Nixification
  .github/workflows/deploy.yml
Due: none

fix(deploy): Implement GitHub-based source fetching for complete Nixification
  .github/workflows/deploy.yml
  projects/dashboard/flake.nix
  projects/nakamura-misaki/web-ui/flake.nix
Due: nextjs-build, pytest-all

fix(deploy): Update GitHub fetchFromGitHub sha256 hashes
  projects/dashboard/flake.nix
  projects/nakamura-misaki/web-ui/flake.nix
Due: nextjs-build, pytest-all

feat(web-ui): Implement Context Engineering UI for prompts page
  projects/nakamura-misaki/web-ui/src/app/prompts/page.tsx
  projects/nakamura-misaki/web-ui/src/lib/prompt-utils.ts
Due: nextjs-build, pytest-all

fix(deploy): Use fakeSha256 to force rebuild with latest code
  projects/dashboard/flake.nix
  projects/nakamura-misaki/web-ui/flake.nix
Due: nextjs-build, pytest-all

fix(deploy): Update sha256 hash to include Context Engineering UI
  projects/dashboard/flake.nix
  projects/nakamura-misaki/web-ui/flake.nix
Due: nextjs-build, pytest-all

feat(web-ui): Add Context Management page
  projects/nakamura-misaki/web-ui/src/app/context/page.tsx
  projects/nakamura-misaki/web-ui/src/components/navigation.tsx
Due: nextjs-build, pytest-all

fix(web-ui): Trigger sha256 hash update for Context Management page
  projects/nakamura-misaki/web-ui/flake.nix
Due: nextjs-build, pytest-all

fix(web-ui): Update sha256 hash for Context Management page deployment
  projects/nakamura-misaki/web-ui/flake.nix
Due: nextjs-build, pytest-all

fix(deploy): Eliminate manual sha256 updates - use local source for Web UI/Dashboard
  nixos-config/flake.nix
  projects/dashboard/flake.nix
  projects/nakamura-misaki/web-ui/flake.nix
Due: nextjs-build, nix-flake-check, pytest-all

fix(nixos-config): Remove duplicate Web UI module declaration
  nixos-config/flake.nix
Due: nix-flake-check

feat(web-ui): Integrate prompt editing into Context Management page
  projects/nakamura-misaki/web-ui/src/app/context/page.tsx
  projects/nakamura-misaki/web-ui/src/app/prompts/page.tsx
  projects/nakamura-misaki/web-ui/src/components/navigation.tsx
Due: nextjs-build, pytest-all

fix(nakamura-misaki): Add UNIQUE constraint to conversations table
  projects/nakamura-misaki/alembic/versions/004_add_unique_constraint_to_conversations.py
Due: pytest-all

fix(nakamura-misaki): Include alembic directory in package and run migrations on init
  projects/nakamura-misaki/pyproject.toml
  projects/nakamura-misaki/scripts/init_db.py
Due: pytest-all

fix(nakamura-misaki): Use temporary file for alembic.ini (Nix store is read-only)
  projects/nakamura-misaki/scripts/init_db.py
Due: pytest-all

fix(nakamura-misaki): Find alembic executable using shutil.which()
  projects/nakamura-misaki/scripts/init_db.py
Due: pytest-all

fix(nakamura-misaki): Find alembic from Python interpreter's bin directory
  projects/nakamura-misaki/scripts/init_db.py
Due: pytest-all

fix(nakamura-misaki): Convert async DATABASE_URL to sync for Alembic
  projects/nakamura-misaki/scripts/init_db.py
Due: pytest-all
